.reply-btn {
    background-color: orangered;
    align-self: flex-end;
    padding: 1rem 5rem;
    font-size: 1.7rem;
    color: white;
    border-radius: 4rem;
    border: 1px solid rgb(189, 50, 0);
    cursor: pointer;

    &:hover {
        background-color: rgb(255, 100, 44);
        transition: all 0.3s ease;
    }
}
