.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    &__label {
        width: 100%;
        padding: 1rem 3rem 2rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        border-radius: 2rem;
        position: relative;
        background-color: rgb(255, 255, 255);

        &--text {
            align-self: flex-start;
            font-size: 2rem;
            font-weight: 200;
            color: black;
        }

        &--input {
            width: 80%;
            height: 4rem;
            border-radius: 2rem;
            font-size: 2rem;
            padding: 0 3rem;
            border: none;
            display: flex;
            align-items: center;

            &:focus {
                outline: none;
            }
        }

        &--icon {
            position: absolute;
            bottom: 3rem;
            left: 3rem;
        }
    }

    &__btn {
        padding: 2rem 12rem;
        font-size: 2.4rem;
        border: none;
        border-radius: 4rem;
        background-color: orangered;
        color: white;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
            background-color: rgb(255, 99, 42);
            transition: all 0.2s ease;
        }
    }

    &__error {
        font-size: 2rem;
        color: orangered;
        position: absolute;
        bottom: 13.5rem;
    }

    &__question {
        font-size: 1.7rem;
        color: rgb(255, 47, 0);
        position: absolute;
        bottom: 2rem;
        left: 6rem;
        cursor: pointer;

        &:hover {
            color: rgb(255, 122, 74);
            transition: all 0.2s ease;
        }
    }
}
