.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 90%;

    &__label {
        width: 70%;
        padding: 1rem 3rem 2rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        border-radius: 2rem;
        position: relative;
        background-color: rgb(255, 255, 255);

        &--text {
            align-self: flex-start;
            font-size: 2rem;
            font-weight: 200;
            color: black;
        }

        &--input {
            width: 80%;
            height: 4rem;
            border-radius: 2rem;
            font-size: 2rem;
            padding: 0 3rem;
            border: none;
            display: flex;
            align-items: center;

            &:focus {
                outline: none;
            }
        }

        &--icon {
            position: absolute;
            bottom: 3rem;
            left: 3rem;
        }
    }

    &__btn {
        @include button;
    }

    &__error {
        font-size: 2rem;
        color: $primaryColor;
        margin: -2rem 0;
    }

    &__question {
        font-size: 1.7rem;
        color: $primaryColorDark;
        position: absolute;
        bottom: 2rem;
        left: 6rem;
        cursor: pointer;

        &:hover {
            color: $primaryColorLight;
            transition: all 0.2s ease;
        }
    }
}
