.topic__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-top: -9rem;
    height: 40rem;
    width: 100%;
    position: relative;

    box-sizing: border-box;

    &--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &--user {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        width: 30%;
        height: 5rem;
        background-color: white;
        padding: 1rem 2rem;
        margin-left: 2rem;
        top: 6rem;
        border-radius: 3rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        cursor: pointer;

        .img {
            height: 100%;
            cursor: pointer;
        }

        .username {
            font-size: 2rem;
            font-weight: 400;
            cursor: pointer;
        }
    }
}

.topic__header-card {
    position: absolute;
    width: 90%;
    height: 18rem;
    background-color: white;
    z-index: 2;
    top: 27rem;
    border-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &--title {
        display: flex;
        justify-content: center;

        .title {
            font-size: 2.8rem;
        }
    }

    &--info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 7rem;
        margin-top: -2rem;
        gap: 2rem;
        width: 100%;

        .icons {
            display: flex;
            align-items: center;
            gap: 0.7rem;
            height: 2rem;

            .icon {
                font-size: 2rem;
                color: rgb(161, 161, 161);
            }

            .counter {
                font-size: 2rem;
                color: rgb(161, 161, 161);
            }
        }
    }

    &--buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 3rem;
        width: 90%;
    }
}
