.modal-login {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 10rem;
    width: 65%;
    max-width: 70rem;
    max-height: 100%;
    z-index: 1010;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    border-radius: 2rem;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    transition: all 0.4s ease-in;
    background-color: rgb(236, 236, 236);
    padding: 7rem 0 0 0;
    box-sizing: border-box;

    &__overlay {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.297);
        backdrop-filter: blur(5px);
        opacity: 0.9;
        opacity: 1;
        transition: all 0.4s ease-in;
    }

    .btn__close {
        position: absolute;
        top: 2rem;
        right: 2rem;
        background-color: transparent;
        border: none;
        cursor: pointer;

        .icon {
            font-size: 3rem;

            &:hover {
                transform: scale(1.1);
                color: rgb(145, 5, 5);
                transition: all 0.2s ease;
            }
        }
    }

    .btn-login {
        padding: 2rem 12rem;
        font-size: 2.4rem;
        border: none;
        border-radius: 4rem;
        background-color: orangered;
        color: white;
    }

    .error {
        font-size: 2rem;
        color: orangered;
        position: absolute;
        bottom: 2rem;
    }
}

.no-active {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in;
}

.active {
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-in;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    label {
        width: 100%;
        padding: 1rem 3rem 2rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        border-radius: 2rem;
        position: relative;
        background-color: rgb(255, 255, 255);

        p {
            align-self: flex-start;
            font-size: 2rem;
            font-weight: 200;
            color: black;
        }

        input {
            width: 80%;
            height: 4rem;
            border-radius: 2rem;
            font-size: 2rem;
            padding: 0 3rem;
            border: none;
            display: flex;
            align-items: center;

            &:focus {
                outline: none;
            }
        }

        .icon {
            position: absolute;
            bottom: 3rem;
            left: 3rem;
        }
    }
}
