.comment-btn {
    padding: 1rem 5rem;
    background-color: orangered;
    border: 1px solid rgb(182, 49, 0);
    color: white;
    border-radius: 4rem;
    font-size: 1.7rem;
    cursor: pointer;

    &:hover {
        background-color: rgb(255, 153, 35);
        transition: all 0.4s ease;
    }
}
