.logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    p {
        font-size: 2rem;
    }

    &__btn {
        @include button;
    }
}

.no-active {
    @include noActiveCard;
}

.active {
    @include activeCard;
}
